<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Holacracy Community of Practice Archive</title>
    <!-- TODO: Remove the extra css after publishing. This is included to play nice with Github pages.-->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <main role="main" class="container">
      <div class="Header grid-top-menu">
        <img src="/images/Holacracy_Mark_-_White__1_.png", id="logo" class="Header-item"/>
        <%= link "Holacracy Community of Practice Archive, 2015-2019", to: Routes.forum_path(@conn, :index), class: "Header-item text-white ml-1 h3" %></h3>
        <a href="https://community.holacracy.org" class="Header-item text-white text-bold">Community</a>
        <a href="https://holacracy.org" class="Header-item text-white text-bold">Holacracy Web Site</a>
      </div>
      <div class="m-3">
      <div class="gcse-search"></div>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script async src="https://cse.google.com/cse.js?cx=016942845804259267692:xrzanrarazy"></script>
  </body>
</html>
