<h2>All Replies</h2>

<ul>
  <%= for reply <- @replies do %>
    <%= if reply.topic do %>
      <li><%= link reply.oid, to: Routes.reply_path(@conn, :show, reply) %></li>
    <% end %>
  <% end %>
</ul>
