<h2>All Topics</h2>

<ul>
  <%= for topic <- @topics do %>
    <%= if topic.prettyUrlString != nil do %>
      <li><%= Enum.count(topic.replies) %> <%= link topic.subject, to: Routes.topic_path(@conn, :show, topic) %></li>
    <% else %>
    <li><%= Enum.count(topic.replies) %> <%= topic.subject %></li>
    <% end %>
  <% end %>
</ul>
